.container{
    text-align:center;
}
.container h1{
    margin-top:15%;
    text-align:center;
}
.container h2{
    margin:.5em auto;
}
.container h3{
    line-height: 3em;
}
.container mark{ 
    background: rgba(0, 0, 0, 0.6);
    color:white;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.center-home{
    list-style: none;
}
.center-home li a mark{
    color:white;
    background:rgba(0, 0, 0, 0.6);
}
.center{
    margin-top:5%;
}
ul.center-home a{
    text-decoration: none;
    font-size: 36px;
    width:100%;
}

ul.center-home a:hover{
    text-decoration: none;
}
ul.center-home a mark:hover{
    text-decoration: none;
    color:green;
    font-size:36px;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url(hosthome.jpg) 0% 0% / cover no-repeat;
}

video {
    object-fit: contain;
}